 .rubberBand {
   -webkit-animation-name: rubberBand;
   animation-name: rubberBand;
   animation-duration: 1s;
   animation-fill-mode: both;
 }

 @keyframes rubberBand {
   0% {
     -webkit-transform: scale3d(1, 1, 1);
     -ms-transform: scale3d(1, 1, 1);
     transform: scale3d(1, 1, 1)
   }

   30% {
     -webkit-transform: scale3d(1.25, .75, 1);
     -ms-transform: scale3d(1.25, .75, 1);
     transform: scale3d(1.25, .75, 1)
   }

   40% {
     -webkit-transform: scale3d(.75, 1.25, 1);
     -ms-transform: scale3d(.75, 1.25, 1);
     transform: scale3d(.75, 1.25, 1)
   }

   50% {
     -webkit-transform: scale3d(1.15, .85, 1);
     -ms-transform: scale3d(1.15, .85, 1);
     transform: scale3d(1.15, .85, 1)
   }

   65% {
     -webkit-transform: scale3d(.95, 1.05, 1);
     -ms-transform: scale3d(.95, 1.05, 1);
     transform: scale3d(.95, 1.05, 1)
   }

   75% {
     -webkit-transform: scale3d(1.05, .95, 1);
     -ms-transform: scale3d(1.05, .95, 1);
     transform: scale3d(1.05, .95, 1)
   }

   100% {
     -webkit-transform: scale3d(1, 1, 1);
     -ms-transform: scale3d(1, 1, 1);
     transform: scale3d(1, 1, 1)
   }
 }

 .skil-color {
   animation-name: skil-color;
   animation-duration: 0.5s;
   animation-fill-mode: both;
 }

 @keyframes skil-color {
   0% {
     opacity: 1
   }

   50% {
     opacity: 1;
     color: rgb(234, 0, 255);
   }

   100% {
     opacity: 1;
     color: rgb(0, 89, 255);
   }
 }

 .zoomOut {
   -webkit-animation-name: zoomOut;
   animation-name: zoomOut;
   animation-duration: 1s;
   animation-fill-mode: both;
 }

 @keyframes zoomOut {
   0% {
     opacity: 1
   }

   50% {
     opacity: 0;
     -webkit-transform: scale3d(.3, .3, .3);
     -ms-transform: scale3d(.3, .3, .3);
     transform: scale3d(.3, .3, .3)
   }

   100% {
     opacity: 0
   }
 }