.contacts-section {
  width: 95%;
  margin: auto;
  box-shadow: 0px -10px 10px 15px rgba(0, 0, 0, 0.5),
    inset 0px -7px 15px 0px rgba(0, 0, 0, 0.5);

  @media screen and (max-width: 750px) {
    width: 100%;
    box-shadow: inset 0px -7px 15px 0px rgba(0, 0, 0, 0.5);
  }

  .form {
    min-width: 50px;
    max-width: 450px;
    margin: 30px;
    background-color: rgb(100, 100, 100);
    border-radius: 3px;
    padding: 10px;

    h2 {
      color: rgb(152, 146, 236);
    }

    .send-btn {
      background-color: #cedef7;
      border: none;
      color: black;
    }

    .send-btn:hover {
      background-color: rgb(184, 179, 255);
    }
  }
}