@import './../varables';

.contacts-section {
  width: 95%;
  margin: auto;
  box-shadow: 0px -10px 10px 15px rgba(0, 0, 0, 0.5),
    inset 0px -7px 15px 0px rgba(0, 0, 0, 0.5);

  @media screen and (max-width: 750px) {
    width: 100%;
    box-shadow: inset 0px -7px 15px 0px rgba(0, 0, 0, 0.5);
  }

  h2 {
    margin-top: 25px;
    margin-left: 30px;
    color: $main-color;
    opacity: 0.8;
    font-size: 1.3em;
    max-width: 450px;

    span {
      color: blue;
      font-size: 1.2em;
    }
  }

  .contact__block {
    align-items: flex-start;
    justify-content: flex-start;

    @media screen and (max-width: 850px) {
      flex-direction: column;
    }

    .text-zone {
      min-width: 250px;
      max-width: 450px;
      margin-left: 150px;

      @media screen and (max-width: 850px) {
        margin-left: 30px;
        margin-bottom: 50px;
      }

      h1 {
        font-size: 33px;
        font-family: font-file-82132;
        color: $main-color;
        font-weight: 400;
        line-height: 50px;
        margin-top: 0;
        margin-bottom: 20px;
        position: relative;
        display: block;

        .header {
          cursor: pointer;
          display: inline-block;
          will-change: transform;
          opacity: 0.5;
          -webkit-transition: all .3s ease-out;
          transition: all .3s ease-out;
        }

      }

      p {
        font-size: 15px;
        line-height: 20px;
        color: #929090;
        font-family: "Open Sans", sans-serif;


        .skils {
          cursor: pointer;
          font-weight: bold;
          color: $main-color;
          display: inline-block;
          will-change: transform;
          opacity: 0.5;
          -webkit-transition: all .1s linear;
          transition: all .1s linear;
        }
      }
    }

    .form {
      min-width: 300px;
      max-width: 450px;
      margin: 30px;
      margin-top: 10px;
      background-color: #6464640a;
      border-radius: 3px;
      padding: 10px;

      @media screen and (max-width: 350px) {
        min-width: 270px;
      }

      .send-btn {
        background-color: #00000083;
        border: none;
        color: #fff;
        width: 40%;
        justify-content: flex-start;

        span {
          width: 30px;
        }
      }

      .send-btn:hover {
        background-color: rgba(100, 100, 100, 0.5);
      }
    }
  }

}