div.navigation {
  position: fixed;
  margin-top: 10px;
  width: 97.5%;
  height: 60px;
  justify-content: flex-end;
  z-index: 100;
  background: url(../../../assets/images/bg.png);
  box-shadow: 0px -10px 10px 15px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  justify-content: flex-end;
  font-family: 'TitilliumWeb',
    sans-serif;

  @media screen and (max-width: 750px) {
    width: 100%;
    box-shadow: inset 0px -7px 15px 0px rgba(0, 0, 0, 0.5);
  }

  @media screen and (max-width: 400px) {
    margin-right: 0px;
  }

  &>a {
    margin: 0;
    margin-left: 20px;
    text-transform: uppercase;
    color: black;
    font-weight: bolder;

    &:hover {
      color: grey;
    }

    &:first-child {
      @media screen and (max-width: 500px) {
        margin-left: 20px;
      }
    }

    &:last-child {
      margin-right: 100px;

      @media screen and (max-width: 500px) {
        margin-right: 10px;
      }

    }
  }
}