.header-section {
  background: center no-repeat url(../../assets/images/image6.jpg);
  background-size: cover;
}

.navigation {
  position: fixed;
  margin-right: 50px;
  width: 100%;
  height: 60px;
  justify-content: flex-end;
  z-index: 100;
  background: url(../../assets/images/bg.png);
}


.navigation>a {
  margin-left: 20px;
}

.navigation>a:last-child {
  margin-right: 50px;
}

.profile-detail {
  margin: 0px;
  margin-top: 200px;
  height: 450px;
  width: 80%;
  text-align: center;
}

.name {
  font-size: 8vw;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  color: black;
  font-weight: 500;
  -webkit-text-stroke: 0.1px #3a3a3a;
}