.about-section {
  background: center no-repeat url(../../assets/images/image4.jpg);
  width: 90%;
  margin: auto;
  box-shadow: 0px -10px 10px 15px rgba(0, 0, 0, 0.5),
    inset 0px -7px 15px 0px rgba(0, 0, 0, 0.5);
}

.about-me {
  position: relative;
  width: 80%;
  margin: 50px 50px;
  font-size: 25px;
}

.ava {
  margin: 10px 30px;
  width: 20%;
}