#projects {
  width: 90%;
  margin: auto;
  box-shadow: 0px -10px 10px 15px rgba(0, 0, 0, 0.5),
    inset 0px -7px 15px 0px rgba(0, 0, 0, 0.5);
}

.projects-section {
  padding: 50px 10px;
  flex-wrap: wrap;

  .card {
    margin: 20px 20px;
    width: 300px;
    height: 400px;

    a {
      color: black;
    }

    a:hover {
      color: blue;
    }

    .ant-card-actions {
      border-bottom: 2px solid #a7a0a0;
    }

    &__img {
      height: 250px;
    }

    .piskel {
      background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5)),
        url(./assets/piskel.jpg);
      background-size: cover;
    }

    .piskel:hover {
      background: url(./assets/piskel.jpg);
      background-size: cover;
    }

    .weather {
      background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5)),
        url(./assets/fancy-weather.jpg);
      background-size: cover;
    }

    .weather:hover {
      background: url(./assets/fancy-weather.jpg);
      background-size: cover;
    }

    .neutron {
      background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5)),
        url(./assets/neutron.jpg);
      background-size: cover;
    }

    .neutron:hover {
      background: url(./assets/neutron.jpg);
      background-size: cover;
    }

    .tic-tac-toe {
      background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)),
        url(./assets/tic-tac-toe.jpg);
      background-size: cover;
    }

    .tic-tac-toe:hover {
      background: url(./assets/tic-tac-toe.jpg);
      background-size: cover;
    }
  }
}