#projects {
  width: 90%;
  margin: auto;
  align-items: flex-start;

  @media screen and (max-width: 750px) {
    width: 100%;
  }

  box-shadow: 0px -10px 10px 15px rgba(0, 0, 0, 0.5),
  inset 0px -7px 15px 0px rgba(0, 0, 0, 0.5);
}

.projects-section {
  background: rgba(255, 255, 255, .6);
  padding: 50px 10px;
  flex-wrap: wrap;
}