.footer-section {
  width: 100%;
  // height: 100px;
  background: repeat url(./assets/bg_footer.gif);

  .contact-container {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 150px;

    .github,
    .gmail,
    .skype,
    .phone {
      margin: 25px;
      color: white;
      width:200px;

      a {
        color: white;
        text-decoration: none;
        margin-bottom: 5px;
        font-size: 0.8em;
        margin-bottom: 5px;
      }

      &:hover {
        cursor: pointer;
      }

      &:before {
        position: relative;
        left: 0px;
        margin-right: 5px;
        top: 8px;
        filter: sepia();
      }

      &:hover:before {
        filter: none;
      }

    }

    .github:before {
      content: url(./assets/images/contacts/github.png);
    }

    .gmail:before {
      content: url(./assets/images/contacts/gmai32.png);
    }

    .skype:before {
      content: url(./assets/images/contacts/skype32.png);
    }

    .phone:before {
      content: url(./assets/images/contacts/phone32.png);
      margin-bottom: 20px;
    }

  }
}