.footer-section {
  width: 100%;
  background: repeat url(./assets/bg_footer.gif);

  .contact-container {
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 150px;

    @media screen and (max-width: 700px) {
      flex-wrap: nowrap;
      padding-left: 20px;
    }

    .contact {
      color: white;
      text-decoration: none;
      margin-top: 25px;
      margin-bottom: 25px;
      font-size: 0.8em;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 250px;

      span {
        margin-left: 10px;

        @media screen and (max-width: 700px) {
          display: none;
        }
      }

      .github,
      .gmail,
      .skype,
      .phone,
      .linkedin {
        @media screen and (max-width: 700px) {
          margin: 0px;
        }

        &:hover {
          cursor: pointer;
        }

        &:before {
          position: relative;
          left: 0px;
          margin-right: 5px;
          top: 8px;
          filter: sepia();
        }

        &:hover:before {
          filter: none;
        }
      }
    }

    .github:before {
      content: url(./assets/images/contacts/github.png);
    }

    .gmail:before {
      content: url(./assets/images/contacts/gmai32.png);
    }

    .skype:before {
      content: url(./assets/images/contacts/skype32.png);
    }

    .linkedin:before {
      content: url(./assets/images/contacts/linkedin32.png);
    }

    .phone:before {
      content: url(./assets/images/contacts/phone32.png);
      margin-bottom: 20px;
    }

  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;

    @media screen and (min-width: 700px) {
      display: none;
    }

    .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: rgb(182, 179, 179);
      color: rgb(34, 34, 34);
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;

      position: absolute;
      z-index: 1;
      bottom: 80%;
      left: 50%;
      margin-left: -60px;
    }

    &:hover .tooltiptext {
      visibility: visible;
    }

  }

}